.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.img2 {
  float: left;
  margin-right: 0rem;  
  width: 80 + 'px';
  height: 80 + 'px';
}

.img3 {
  border: 1px solid black;
  margin-top:2rem;
  padding: 0px;
}

.option-right {
  float: right;
  margin-right: 0.5rem
}

.div-img {
  border: 1px solid #000000;
  padding: 0;
  margin-bottom: 1rem;
  margin-right: 0.5rem;
  margin-left: 0;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.closeBtn{
    display: block;
    float:right;
    position: absolute;;
    top:-30px;
    right: 0px;
    z-index: 1002;
}

.smallFont{
  font-size: 2px;
}